<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/Jquery/jquery-3.6.2.min.js"></script>
	<script src="../assets/Jquery/notify.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="module" src="../assets/js/loginHandler.js"></script>
    <title>User Login</title>
</head>
<body>
    <div class="limiter">
		<div class="container-register">
			<div class="wrap-register">
				<div class="register-pic js-tilt">
					<img src="../assets/img/rocket.png" alt="IMG">
				</div>
				
				<div class="register-form validate-form">
					<span class="register-form-title">
						User Login
					</span>
					<div id="loginform">
						<div class="wrap-input validate-input" data-validate="Valid email is required: example@abc.xyz">
							<input class="input" type="email" name="email" placeholder="Email" id="email" autocomplete="off">
							<span class="focus-input"></span>
							<span class="symbol-input">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</span>
						</div>
						
						<div class="wrap-input validate-input" data-validate="Password is required">
							<input class="input" type="password" name="password" placeholder="Password" id="password" autocomplete="off">
							<span class="focus-input"></span>
							<span class="symbol-input">
								<i class="fa fa-key" aria-hidden="true"></i>
							</span>
						</div>
						
						<div class="container-register-form-btn">
							<button type="submit" class="register-form-btn" id="loginbtn">
								Login
							</button>
						</div>
						
						<div class="text-center p-t-12">
							<a class="txt2" href="./forgetpage.html">
								Forgot Password ?
							</a>
						</div>
						
						<div class="text-center p-t-136">
							<a class="txt2" href="./register.html">
								Don't have account Register here
								<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>