<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../assets/Jquery/jquery-3.6.2.min.js"></script>
	<script src="../../assets/Jquery/jquery.cookie.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <h1> Welcome to bookmarking page ..... </h1>
    <script>
        var userid = $.cookie('userid');
        var auth = $.cookie('userAuthToken');
        if (userid === undefined || auth === undefined){
            window.location.href = '../login.html';
        }
    </script>
</body>
</html>